<script>
  export let name;
  import About from "./components/About.svelte";
</script>

<style>
  p {
    color: purple;
    font-family: "Comic Sans MS";
    font-size: 2em;
  }
</style>

<svelte:options tag="my-app" />
<main>
  <h1>Hello {name}!</h1>
  <p>
    Visit the
    <a href="https://svelte.dev/tutorial">Svelte tutorial</a>
    to learn how to build Svelte apps.
  </p>
  <my-about />
</main>
